@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes show {
  0%,
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
   
  60%,
  100% {
    transform: translateY(0);
    opacity: 1;
  
  }
}

.up-effect {
  animation: show 2.5s cubic-bezier(0.65, 0, 0.35, 1) both;
  animation-delay: 150ms;
}
